---
layout: default
title: "Projektbüro Schafe vorm Fenter UG"
description: "Wir sind ein Projektbüro für Open Data und KI. Wir unterstützen Sie bei der Umsetzung von Open Data
Projekten und der Entwicklung von Softwarelösungen."
keywords: "Open Data, KI, Künstliche Intelligenz, Schafe vorm Fenster, API Development, ICS, ICAL, RSS, ATOM, JSON+LD,"
---
<header class="px-8 relative bg-[url('/assets/img/projects-wireframe.jpg')] bg-cover bg-fixed">
    <div class="absolute z-0 w-full h-full -mx-8 bg-white bg-opacity-80"></div>
    <div class="container relative z-10 w-full bg-opacity-0 lg:w-2/3 ">
        <div id="logo" class="w-full pt-8 pb-32">
            <img class="inline h-20 mb-2" src="/assets/img/Schafe-vorm-Fenster_Logo.webp"
                alt="Schafe vorm Fenster UG" />
            <p class="font-mono text-2xl font-light">Schafe vorm Fenster UG</p>
        </div>
        <div id="claim" class="pb-32">
            <h1 class="pb-8 text-5xl font-extrabold leading-tight md:text-6xl text-primary">Für eine digitale
                Zukunft,<br />die
                alle
                erreicht.</h1>
            <p class="text-3xl leading-tight">Revolutioniere das ländliche Leben durch den Einsatz von
                <strong>Open-Data</strong>-basierten und <strong>KI</strong>-unterstützten Softwarelösungen.
            </p>
        </div>
    </div>
</header>

<main class="px-8 py-16 text-2xl text-white bg-black">

    <div class="container w-full lg:w-2/3">
        <h2 class="pb-8 text-4xl">Entfalten Sie das Potenzial offener Daten <br /> für das ländliche Leben.</h2>
        <p class="pb-8">Werden Sie zum Akteur Ihrer Region und profitieren Sie von unserem Expertenwissen. Lassen
            Sie uns gemeinsam
            die
            digitale Zukunft gestalten.</p>
    </div>

    <div class="container grid w-full gap-8 lg:grid-cols-2">
        <div id="offer-worshops" class="pt-8">
            <img class="inline-block h-20 mb-4" src="/assets/img/presentation-chart-bar.svg"
                alt="Icon: Vorträge & Workshops" />
            <h3 class="pb-4 text-3xl">Vorträge & Workshops</h3>
            <ul class="hashtags">
                <li>
                    Marketing
                </li>
                <li>
                    Events
                </li>
                <li>
                    Locations
                </li>
                <li>
                    News
                </li>
                <li>
                    Social
                </li>
            </ul>
            <p class="pt-4">Unsere Workshops und Vorträge zeigen Ihnen, wie Sie Daten effektiv nutzen und verwalten.
                Lernen Sie von Experten und profitieren Sie von unseren umfangreichen Erfahrungen. Gestalten Sie die
                Zukunft Ihrer Region aktiv mit.</p>

            <button class="mt-4 text-xl"><a href="mailto:jan@schafe-vorm-fenster.de?subject:Workshop-Anfrage">Workshop
                    anfragen</a></button>
        </div>

        <div id="offer-development" class="pt-8">
            <img class="inline-block h-20 mb-4" src="/assets/img/chip.svg" alt="Icon: Beratung & Software">
            <h3 class="pb-4 text-3xl">Beratung & Software</h3>
            <ul class="hashtags">
                <li>REST</li>
                <li>ICS/ICAL</li>
                <li>LD+JSON</li>
                <li>RSS/ATOM</li>
                <li>AI/KI</li>
            </ul>
            <p class="pt-4">Open Data macht Ihre Daten für alle zugänglich. Offene Schnittstellen und Formate stellen
                die
                Weiterverarbeitung und Verbreitung sicher. Wir unterstützen Sie bei der Analyse und Implementierung
                Ihrer
                Open Data Schnittstellen.</p>

            <button class="mt-4 text-xl"><a
                    href="mailto:jan@schafe-vorm-fenster.de?subject:Entwicklungs-Anfrage">Angebot
                    anfragen</a></button>
        </div>

    </div>
</main>


<article class="px-8 py-16 text-2xl text-white bg-gray-800">
    <div class="container w-full lg:w-2/3">
        <h2 class="pb-8 text-4xl">Praktische Beispiele</h2>
        <p class="pb-8">Unsere Beispiele zeigen die Umsetzung von Projekten im Bereich Open Data, technischer Beratung
            zu
            Schnittstellen
            sowie Implementierung von ICS/iCal-Feeds. In zahlreichen Workshops und Schulungen haben wir unser Wissen
            bereits
            weitergegeben und die Digitalisierung auf Dörfern vorangetrieben.</p>
    </div>
    <div class="container grid w-full gap-8 lg:grid-cols-2 xl:grid-cols-3">
        {% for reference in site.references %}
        <div class="text-left">
            <h3 class="pb-4">{{ reference.title }}</h3>
            <p class="pb-2 text-xl">{{ reference.description }}</p>
            {% if reference.tags %}
            <p class="mb-2">
                {% for tag in reference.tags %}
                <span class="hashtag">{{tag}}</span>
                {% endfor %}
            </p>
            {% endif %}
            {% if reference.link %}
            <a class="text-sm line-clamp-1" href="{{ reference.link | absolute_url }}" target="_blank"><img
                    class="inline-block h-4 mr-2" src="/assets/img/github.svg" alt="GitHub" />{{
                reference.link | replace: "https://github.com/", ""
                }}</a>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</article>



<article class="px-8 py-16 text-2xl text-black bg-brand-light">
    <div class="container w-full lg:w-2/3">
        <h2 class="pb-8 text-4xl">Hausgemachte Lösungen.</h2>
        <p class="pb-8">Mit der digitalen Terminliste geben wir unseren Visionen eine Form. Digitalisierung auf
            den Dörfern wird hier mit Open Data, dezentraler Datenverwaltung und smarter Technologie einfach für alle
            nutzbar gemacht.</p>
    </div>
    <div class="container flex flex-col-reverse items-center w-full lg:flex-row ">
        <div class="flex-1 pb-16 text-left">
            <p class="pb-8 font-extrabold">Erfahre was wann wo in deinem Dorf los ist.
                Einfach per Smartphone.</p>
            <p class="pb-8">Mit der digitalen Terminliste unter geben wir unseren Visionen eine Form. Digitalisierung
                auf den
                Dörfern wird hier mit Open Data, dezentraler Datenverwaltung und smarter Technologie einfach für
                alle nutzbar gemacht.</p>
            <button class="text-lg"><a href="https://schafe-vorm-fenster.de/"
                    target="_blank">www.schafe-vorm-fenster.de</a></button>
        </div>
        <div class="flex-1 text-center"><img class="inline-block pb-8" src="/assets/img/dorfterminkalender.webp"
                alt="Illustration: Digitale Terminliste, Dorfterminkalender" /></div>
    </div>
</article>


<article class="px-8 py-16 text-2xl text-white bg-gray-800">
    <div class="container w-full lg:w-2/3">
        <h2 class="pb-8 text-4xl">Projektvisionen<br />für ein lebendigeres Landleben.</h2>
        <p class="pb-8">Während unserer Treffen, Beratungen und Workshops sammeln wir vielfältige Inspirationen. In der
            Kombination mit offenen Daten, dezentralen Datenbanken und moderner Software lassen sich noch viele
            wertvolle Projekte realisieren.</p>
    </div>
    <div class="container grid w-full gap-8 lg:grid-cols-2 xl:grid-cols-3">
        {% for vision in site.visions %}
        <div class="text-left">
            <img class="inline-block h-20 mb-4" src="/assets/img/{{vision.icon}}" alt="Icon: {{ vision.title }}" />
            <h3 class="pb-4">{{ vision.title }}</h3>
            <p class="pb-2 text-xl">{{ vision.description }}</p>
            {% if vision.tags %}
            <p class="mb-2">
                {% for tag in vision.tags %}
                <span class="hashtag">{{tag}}</span>
                {% endfor %}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</article>


<aside class="px-8 py-16 text-2xl text-black bg-primary-light">
    <div class="container w-full lg:w-2/3">
        <h2 class="pb-8 text-4xl">Schafe vorm Fenster UG</h2>
        <p class="pb-8">Schafe vorm Fenster steht für das sinnbildliche Dorfleben. Als Gründer ist Jan, ein
            eingefleischter Dorfeinwohner und IT-Experte, überzeugt davon, dass auch ländliche Regionen von digitalen
            Lösungen profitieren können. Zusammen mit Christian setzt er sich für die digitale Entwicklung im ländlichen
            Raum ein.</p>
    </div>
    <div class="container grid w-full grid-cols-3 gap-8 lg:grid-cols-4 xl:w-2/3 ">
        <div><img class="inline-block rounded-md rounded-br-3xl grayscale" src="/assets/img/jan.webp"
                alt="Foto: Jan-Henrik Hempel" /></div>
        <div class="col-span-2 pb-16 text-left lg:col-span-3">
            <p class="pb-4 font-extrabold">Jan-Henrik Hempel</p>
            <p class="pb-8">Jan ist Architekt und Motivator für Visionen, Macher und Perfektionist - und im Kopf immer
                einen Schritt weiter.</p>
            <button class="mb-4 mr-4 text-base"><a href="tel:+4915678204630" target="_blank">+49 156
                    78204630</a></button>
            <button class="text-base"><a href="mailto:jan@schafe-vorm-fenster.de"
                    target="_blank">jan@schafe-vorm-fenster.de</a></button>
        </div>
    </div>
</aside>


<footer class="px-8 py-16 text-base text-white bg-black">
    <div class="container grid w-full lg:gap-8 lg:grid-cols-3 xl:w-2/3 ">
        <div class="text-left">
            <h2 class="pb-4">Kontakt</h2>
            <p class="pb-8">
                Jan-Henrik Hempel<br />
                E-Mail: jan@schafe-vorm-fenster.de<br />
                Telefon: +49 156 78204630<br />
                Signal und WhatsApp: +49 156 78204630<br />
            </p>
            <h2 class="pb-4">Impressum</h2>
            <p>
                Schafe vorm Fenster UG<br />
                Schlatkow 6, 17390 Schmatzin OT Schlatkow
            </p>
            <p class="pb-8">
                Geschäftsführender Gesellschafter: Jan-Henrik Hempel<br />
                Eingetragen im Handelsregister des Amtsgerichtes Stralsund, VR 22906.<br />
                UsSt-IdNr.: DE323153438
            </p>
        </div>
        <div class="text-left lg:col-span-2">
            <h2 class="pb-4">Datenschutzhinweise</h2>
            <p>Wir nutzen für diese Webseite (www.schafe-vorm-fenster.org) kein Webtracking und keine Cookies.</p>
            <p>Die Übertragung schützen wir mit einer Verschlüsselung über SSL/HTTPS.</p>
            <p>Beim Zugriff auf diese Webseite werden technisch notwendige Informationen automatisch ausgetauscht und
                Logfiles erzeugt. Das Hosting wird von <a href="https://webflow.com/">Webflow</a> übernommen. Details
                finden Sie <a href="https://webflow.com/legal/eu-privacy-policy" target="_blank">hier</a>.</p>
            <p>Die Schafe vorm Fenster UG ist per Telefon, Messanger und E-Mail erreichbar. Die dabei bereitgestellten
                persönlichen Daten sowie die Korrespondenz werden von uns im Rahmen der geschäftlichen Kommunikation
                gespeichert und genutzt. Wir geben keine Daten an Dritte weiter.</p>
            <p>Wir speichern personenbezogene Daten nur solange wie notwendig oder gesetzlich vorgesehen. Nach Erfüllung
                des Zwecks oder Ablauf der Fristen werden sie gelöscht.</p>
            <p>Um Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten zu erhalten, wenden Sie sich an <a
                    href="mailto:datenschutz@schafe-vorm-fenster.de">datenschutz@schafe-vorm-fenster.de</a>.</p>
        </div>
    </div>
</footer>