<!DOCTYPE html>
<html lang="de-DE">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="locale" content="de_DE" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="author" content="Schafe vorm Fenster UG" />
  <meta name="twitter:site" content="@schafeamfenster" />
  <meta name="twitter:creator" content="@schafeamfenster" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link href="/assets/img/schafe-vorm-fenster_icon_32x32.png" rel="shortcut icon" type="image/x-icon" />
  <link href="/assets/img/schafe-vorm-fenster_icon_256x256.png" rel="apple-touch-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no" />
  <meta name="geo.region" content="DE-MV" />
  <meta name="geo.placename" content="Schafe vorm Fenster UG, Schlatkow. 17390 Schmatzin, Deutschland" />
  <meta name="geo.position" content="53.92153;13.58116" />
  <meta name="ICBM" content="53.92153,13.58116" />
  <meta property="og:url" content="https://www.schafe-vorm-fenster.org" />
</head>

<body>
  {{ content }}
</body>

</html>